/*
 * Globals
 */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

*, *:after, *:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* Links */
a,
a:focus,
a:hover {
  color: #1D5851;
}


/*
 * Base structure
 */

body {
  font-family: 'Manrope', 'Trebuchet MS', sans-serif;
  font-size: 13px;
  color: #333333;
  text-shadow: none;
  box-shadow: none;
}

.gallery-wrapper {
  background-color: #eeeeee;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  margin-bottom: 20px;
  position: relative;
}

.info-popover {
  z-index: 1000;
  position: absolute;
  bottom: 1%;
  left: 8%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.btn-circle { 
  width: 50px; 
  height: 50px;
  padding: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 0.438);
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.459);
  color: #ffffffb9 !important;
  font-size: 28px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: lowercase;
  text-align: center;
} 

#gallery-image {
   width: 90%;
   height: auto;
   margin: auto;
}

.white-text{
  font-size: 20px;
}

.fluid-container {
  margin-left: 8vw;
  margin-right: 8vw;
  padding: 10px;
}

p {
 font-weight: 400;
 font-size: 13px;
}

h1 {
font-weight: 600;
font-size: 24px;
}

h2 {
  color: #267073;
  font-weight: 600;
  font-size: 20px;
}

h3 {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
}

h4 {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.small{
  font-size: 10px;
}
/* 
* Carousel
*/
#carouselFade {
  display: inline-block;
  margin: auto;
}

.carousel-inner {
  margin: auto;
  max-width: 600px;
  max-height: 500px;
}

.carousel-caption {
  color: #ffffff;
}

/* 
* Footer
*/
 .footer-wrapper {
   background-color: #eeeeee;
   margin-top: 30px;
 }
 
 .footer-team {
   margin-left: 8vw;
   margin-right: 8vw;
   padding: 5px;
   padding-bottom: 50px;
   padding-top: 30px;
 }



